# Flutter/Dart specific
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/

# IDE/Editor specific
.vscode/
.idea/
*.iml
*.iws
*.ipr

# macOS specific
.DS_Store

# Android specific
**/android/gradle.properties
**/android/local.properties
**/android/gradle-wrapper.jar
**/android/Flutter/buildKey.properties

# iOS specific
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/contents.xcworkspacedata
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# Web specific
**/web/assets/

# Other
*.log
